<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sitestyles.css" />
</head>
<body>
    <header>
        <h2>successfull</h2>
        <nav>
        <a href="/home"
          ><img alt="Home" src="/images/store-svgrepo-com.svg"
        /></a>
      </nav>
    </header>
    payment successfull <%=locals.email%>
</body>
</html>