* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.button-style-green{
    background-color: rgb(0, 100, 0);
    transition: ease 0.5s;
}
.button-style-blue{
    background-color: rgb(0, 0, 105);
    transition: ease 0.5s;
}
.button-style-green:hover{
    background-color: green;
}
.button-style-blue:hover{
    background-color: rgb(0, 0, 128);
}

body {
  background-color: #181818;
  color: white;
}

header {
  background-color: #262626;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.505);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
}
.home-header-btn {
  text-decoration: none;
  color: white;
  background-color: #3b3b3b;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  border-radius: 16px;
}
.home-header-btn img {
  width: 20px;
  height: 20px;
}

header nav {
  display: flex;
  gap: 7px;
  align-items: center;
}

header nav img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #3b3b3b;
    border-radius: 10px;
}

.boxListDesign{
  padding: 10px;
  margin: 5px;
  background-color: #262626;
  border-radius: 16px;
}